#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=Tiny Kyoukai
Exec=tiny-kyoukai
Comment=Tiny Kyoukai !
Icon=tiny-kyoukai
Terminal=false
Categories=Utility;GTK;Anime;